{% extends "layouts/base.html" %}

{% block content %}
  <h2 style="text-align: center">Add kimball_dx on Discord to get credits!</h2><hr>
  <p>
    {% if request.user.is_superuser %}
      <b>Available Credits:</b> Unlimited hours
    {% else %}
      <b>Available Credits:</b> {{ request.user.hours }} hours
    {% endif %}
    <br>
  </p>
  <p>
    <b>Current Study Hours:</b> {{ hours }} hours this week
  </p>
  <form method="post">
    {% csrf_token %}
    <label for="hours">
      <b>Add Hours:</b>
      <input type="number" name="hours" min="0" step="1">
    </label>
    <input type="submit" value="Add">
  </form>
{% endblock content %}
